HEADER<{{
import org.apache.log4j.Logger;
import org.graphwalker.Util;
import org.graphwalker.generators.PathGenerator;
import org.graphwalker.multipleModels.ModelAPI;

public class MasterMindModel extends ModelAPI {
  private final static Logger logger = Util.setupLogger(ModelAPI.class);

  public MasterMindModel(PathGenerator generator) {
    super("MasterMindModel.graphml", true, generator, false);
  }
}}>HEADER
  /**
   * This method implements the {EDGE_VERTEX} '{LABEL}'
   * {DESCRIPTION}
   */
  public void {LABEL}() {
  }
FOOTER<{{
}
}}>FOOTER
